In [1]:
import pandas as pd
import numpy as np

In [6]:
sales_train_validation = pd.read_csv("./datasets/Walmart/sales_train_validation.csv")

In [7]:
sales_train_validation.head(5)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [27]:
d_cols = [c for c in sales_train_validation.columns if 'd_' in c] # sales data columns

In [98]:
pivoted = sales_train_validation.pivot_table( 
                        index=['id','item_id','dept_id','cat_id','store_id','state_id'])

In [99]:
pivoted.head(5)

,,,,,,d_1,d_10,d_100,d_1000,d_1001,d_1002,d_1003,d_1004,d_1005,d_1006,...,d_990,d_991,d_992,d_993,d_994,d_995,d_996,d_997,d_998,d_999
id,item_id,dept_id,cat_id,store_id,state_id,,,,,,,,,,,,,,,,,,,,,
FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,3,0,0,1,0,1,0,0,0,0,...,0,0,1,0,2,0,0,0,1,0
FOODS_1_001_CA_2_validation,FOODS_1_001,FOODS_1,FOODS,CA_2,CA,2,1,5,0,6,1,4,1,1,0,...,3,1,2,0,3,2,1,1,1,0
FOODS_1_001_CA_3_validation,FOODS_1_001,FOODS_1,FOODS,CA_3,CA,1,1,1,0,1,3,1,0,1,0,...,0,0,1,0,7,2,0,0,0,0
FOODS_1_001_CA_4_validation,FOODS_1_001,FOODS_1,FOODS,CA_4,CA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
FOODS_1_001_TX_1_validation,FOODS_1_001,FOODS_1,FOODS,TX_1,TX,0,1,1,0,1,1,4,2,0,0,...,1,1,0,1,0,0,0,1,0,0

In [104]:
stacked = pivoted.stack()
stacked.head(10)

id                           item_id      dept_id  cat_id  store_id  state_id
FOODS_1_001_CA_1_validation  FOODS_1_001  FOODS_1  FOODS   CA_1      CA        d_1       3
                                                                               d_10      0
                                                                               d_100     0
                                                                               d_1000    1
                                                                               d_1001    0
                                                                               d_1002    1
                                                                               d_1003    0
                                                                               d_1004    0
                                                                               d_1005    0
                                                                               d_1006    0
dtype: int64

In [113]:
stacked = stacked.rename(columns={0:'day_number'})
stacked.head(10)

id                           item_id      dept_id  cat_id  store_id  state_id
FOODS_1_001_CA_1_validation  FOODS_1_001  FOODS_1  FOODS   CA_1      CA        d_1       3
                                                                               d_10      0
                                                                               d_100     0
                                                                               d_1000    1
                                                                               d_1001    0
                                                                               d_1002    1
                                                                               d_1003    0
                                                                               d_1004    0
                                                                               d_1005    0
                                                                               d_1006    0
dtype: int64